<p-panel header="ผู้ใช้งานทั่วไป">
  <p-toast></p-toast>
  <div class="card p-4">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div class="flex flex-row ...">
          <div class="grow h-14 ml-3">
            <mat-form-field appearance="outline" style=" margin-bottom: -1.25em">
              <mat-label>รายชื่อหมอ</mat-label>
              <mat-select [formControl]="doctorForm" multiple>
                <mat-option *ngFor="let doctor of doctorList" [value]="doctor.code">{{doctor.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grow h-14 ml-3">
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple label="ค้นหา" icon="pi pi-search" class="p-button-help m-2" (click)="search()"></button>
        <button pButton type="button" pRipple label="ล้าง" icon="pi pi-times" class="p-button-warning"
          (click)="clear()"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="appointmentList" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
      [(selection)]="selectedAppointmentList" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Doctor Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="price">Appointment Date<p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="price">Appointment Time<p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
          </th>
          <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon>
          </th>
          <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.doctorId}}</td>
          <td>{{mapDateToThai(product.appointmentDate) }}</td>
          <td>{{product.appointmentDate | date:'shortTime':'UTC+7':'th'}}</td>
          <td>{{product.category}}</td>
          <td>
          </td>
          <td><span
              [class]="'product-badge status-' + (product.isReserve ? product.inventoryStatus.toLowerCase() : '')">{{product.isReserve ? "ถูกจอง" :"ว่าง"}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</p-panel>
