<p-panel header="ผู้ใช้งานทั่วไป">
  <p-toast></p-toast>
  <div class="card p-4">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div class="flex flex-row ...">
          <div class="grow h-14 ml-3">
            <mat-form-field appearance="outline" style=" margin-bottom: -1.25em">
              <mat-label>รายชื่อหมอ</mat-label>
              <mat-select [formControl]="doctorForm" multiple>
                <mat-option *ngFor="let doctor of doctorList" [value]="doctor.doctorId">{{doctor.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grow h-14 ml-3">
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple label="ค้นหา" icon="pi pi-search" class="p-button-help m-2" (click)="search()"></button>
        <button pButton type="button" pRipple label="ล้าง" icon="pi pi-times" class="p-button-warning"
          (click)="clear()"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="appointmentList" [rows]="10" [paginator]="true"
      [globalFilterFields]="['doctorId','appointmentDate','name','appointmentDate','telephone','isReserve']"
      responsiveLayout="scroll" [(selection)]="selectedAppointmentList" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="รายการที่แสดง {first} ถึง {last} จาก {totalRecords} รายการ"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="doctorId">ชื่อหมอ <p-sortIcon field="doctorId"></p-sortIcon>
          </th>
          <th pSortableColumn="appointmentDate">วันที่นัดหมาย <p-sortIcon field="appointmentDate"></p-sortIcon>
          </th>
          <th pSortableColumn="appointmentDate">เวลานัดหมาย <p-sortIcon field="appointmentDate"></p-sortIcon>
          </th>
          <th pSortableColumn="name">ชื่อคนไข้ <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="telephone">เบอร์โทร <p-sortIcon field="telephone"></p-sortIcon>
          </th>
          <th pSortableColumn="isReserve">สถานะ <p-sortIcon field="isReserve"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-appointment>
        <tr>
          <td>{{getDoctor(appointment.doctorId)}}</td>
          <td>{{mapDateToThai(appointment.appointmentDate) }}</td>
          <td>{{appointment.appointmentDate | date:'shortTime':'UTC+7':'th'}}</td>
          <td>{{appointment.name}}</td>
          <td>{{appointment.telephone}}</td>
          <td><span>{{appointment.isReserve ? "ถูกจอง" :"ว่าง"}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-panel>
