<p-panel header="ตารางการนัดหมายทั้งหมด" class="max-h-screen">
  <p-toast></p-toast>
  <div class="card p-4">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div class="flex flex-row ...">
          <div class="grow h-14">
            <mat-form-field appearance="outline" style=" margin-bottom: -1.25em">
              <mat-label>ช่วงเวลา</mat-label>
              <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="วันที่เริ่ม">
                <input matEndDate formControlName="end" placeholder="วันที่สิ้นสุด">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="grow h-14 ml-3">
            <mat-form-field appearance="outline" style=" margin-bottom: -1.25em">
              <mat-label>สถานะ</mat-label>
              <mat-select [formControl]="status" multiple>
                <mat-option *ngFor="let _status of statusList" [value]="_status.code">{{_status.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grow h-14 ml-3">


          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple label="ค้นหา" icon="pi pi-search" class="p-button-help m-2" (click)="search()"></button>
        <button pButton type="button" pRipple label="ล้าง" icon="pi pi-times" class="p-button-warning"
          (click)="clear()"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="appointmentList" [rows]="10" [paginator]="true"
      [globalFilterFields]="['doctorId','appointmentDate','name','appointmentDate','telephone','isReserve']"
      responsiveLayout="scroll" [(selection)]="selectedAppointmentList" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="รายการที่แสดง {first} ถึง {last} จาก {totalRecords} รายการ"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="doctorId">ชื่อหมอ <p-sortIcon field="doctorId"></p-sortIcon>
          </th>
          <th pSortableColumn="appointmentDate">วันที่นัดหมาย <p-sortIcon field="appointmentDate"></p-sortIcon>
          </th>
          <th pSortableColumn="appointmentDate">เวลานัดหมาย <p-sortIcon field="appointmentDate"></p-sortIcon>
          </th>
          <th pSortableColumn="name">ชื่อคนไข้ <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="telephone">เบอร์โทร <p-sortIcon field="telephone"></p-sortIcon>
          </th>
          <th pSortableColumn="isReserve">สถานะ <p-sortIcon field="isReserve"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-appointment>
        <tr>
          <td>{{appointment.doctorId}}</td>
          <td>{{mapDateToThai(appointment.appointmentDate) }}</td>
          <td>{{appointment.appointmentDate | date:'shortTime':'UTC+7':'th'}}</td>
          <td>{{appointment.name}}</td>
          <td>{{appointment.telephone}}</td>
          <td><span>{{appointment.isReserve ? "ถูกจอง" :"ว่าง"}}</span>
          </td>
          <td>
            <button pButton pRipple icon="pi pi-bookmark" class="p-button-rounded p-button-success"
              (click)="editAppointment(appointment)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteAppointment(appointment)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="appointmentDialog" [style]="{width: '450px'}" header="จองนัดหมายเพื่อเข้าตวรจ" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="telephone">เบอร์โทรของคนไข้</label>
        <input type="text" pInputText id="telephone" name="telephone" [(ngModel)]="appointment.telephone"
          [required]="true" autofocus />
        <small class="p-error mt-2" *ngIf="!submitted && !appointment.telephone">โปรดระบุเบอร์โทรของคนไข้</small>
      </div>
      <div class="formgrid grid mt-4">
        <div class="field col">
          <label for="price">รหัสพินโค้ด</label>
          <p-inputNumber id="pinCode" [(ngModel)]="appointment.pinCode" name="pinCode" [required]="true">
          </p-inputNumber>
          <small class="p-error mt-2" *ngIf="!submitted && !appointment.pinCode">โปรดระบุรหัสพินโค้ด</small>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="ยกเลิก" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="จอง" icon="pi pi-check" class="p-button-text" (click)="saveAppointment()"></button>
    </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</p-panel>
